.advertise-form {
    align-content: center;
}
.advertise-block{
    margin: 10px;
    border:inset;
    width: 350px;
    margin-left: 8%;
}

img{
    padding:10px 10px 0px 10px;
    width: 330px;
    height: 285px;
}

.row>*{
    padding-left: 0px;
    padding-right: 0px;
}
.link{
    text-decoration: none;
    color: #212529;
    font-size: 18px;
}
.image-center {
    text-align: center;

}
.advertise-header{
    margin-top:5px ;
    font-size: 20px;
    margin: 0px;
    text-align: center;
}
.down-text{
    margin: 5px 0px 5px 5px;
    font-size: 14px;
    align-self: end
}
.white{
    background-color: rgb(255, 255, 255);
    margin-bottom: 40px;

}
.white>div{
    margin: 8px 0px 8px 50px;

}
.price{
    margin-left: 5px;
}
.w-125{
    width: 125%;
}
h2{
    margin: 20px 0 20px 0;
}
.btn{
    margin-top: -20px;
    margin-bottom: 20px;
}
#photos{
    padding-bottom: 15px;
}
.hint{
    font-size: 12px;
    color: rgb(127, 151, 153);
}
@media (min-width: 576px) and (max-width: 767.9px) {
    .advertise-block{
        width: 500px;
        align-self: center;
    }
    img{
        width: 480px;
        height: 420px;
    }

}
@media  (max-width: 575.98px) {
    .advertise-block{
        margin-left: auto;
        margin-right: auto;
        width: 350px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .advertise-block{
        width: 450px;
        margin-left: 6%;
    }
    img{
        width:420px;
        height: 370px;
    }
}

