img {
    height: 500px;
    width: 695px;
}

.image-center {
    text-align: center;
}
.h2{
    text-align: center;
}
.td-caption{
    min-width: 200px;
    color: rgba(0,0,0,0.5);
    font-size: 16px;
}
.td-descr{
    max-width: 300px;
    font-size: 17px;
}
tr{
    margin-top: 10px;
}

.carousel-block {
    margin-left: 2%;
    margin-right: auto;
    width: 750px;
    height: 500px;
    vertical-align: middle;
    text-align: center;
}
iframe{
    margin: 0 auto 50px auto;
}
.text-block {
    background-color: #f8f9fa;
    height: 400px;
    margin-top: 2%;
}

.text{
    font-size: 18px;
}
.price{
    font-size: 24px;
}

p{
    margin-bottom: 5px;

}
.description{
    margin: 50px 50px 50px 20px;

}
.list{
    margin-left: -100px;
}
tr{
    height: 40px;
}
.content{
    margin-left:100px;
    margin-right: 70px;
}
@media  (max-width: 1255.98px){
    .carousel-block{
        width: 650px;
        height: 430px;
    }
    img {
        width: 650px;
        height: 430px;
    }
    .content{
        margin-left:50px;
        margin-right: 0px;
    }
    tr{
        height: 30px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {

    .description{
        margin: 50px auto 0 0;
    }
    .list{
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: auto;
    }

    .carousel-block{
        width: 850px;
        height: 575px;
        margin-left: auto;
        margin-right: auto;
    }
    img {

        width: 850px;
        height: 575px;
    }
    .td-caption{
        min-width: 20px;

    }
    .td-descr{
        max-width: 200px;
    }
    tr{
        height: 0px;
    }
    .content{
        margin-left:70px;
        margin-right: 50px;
    }
    iframe{
        width: 850px;
        height: 475px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){

    .content{
        margin-left: 25px;
        margin-right: 25px;
    }
    .list{
        margin-left: 0;
        margin-top: 50px;
    }
    .description{
        margin-left: 65px;
    }

.carousel-block{
    width: 700px;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 700px;
    height:  470px;
}
iframe{
    width: 700px;
    height:  400px;
}
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .list {
        margin-left: 20px;
        margin-top: 20px;
    }
    .content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .carousel-block{
        width: 560px;
        height: 390px;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        width: 560px;
        height: 390px;
    }
    iframe{
        width: 560px;
        height: 390px;
    }
}
@media (max-width: 575.98px) {
    .carousel-block{
        width: 350px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        width: 350px;
        height: 250px;
    }
    .list {
        margin-left: 5px;
        margin-top: 10px;
    }
    .content{
        margin-left: 0px;
        margin-right: 0px;
    }
    iframe{
        width: 350px;
        height: 250px;
    }
}
