
.header-bg{
    background-color: #81f;
}
.icon{
    margin-right: 5px;
    margin-top: -12px;
    width: 40px;
    height: auto;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #f2f4f5;
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #81f;
}
